= form_for @item do |f|
  -if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :content
    = f.text_field :content
  .field
    = f.label :bg_status
    = f.select :bg_status, stage_list
    /= f.number_field :bg_status
  .field
    = f.label :priority
    = f.select :priority, color_list
    /= f.number_field :priority
  .actions
    = f.submit 'Save'
    

:javascript
  jQuery(document).ready(function($) {
    
    $("form").submit(function() {
      content = $('input#item_content').val();
      bg_status = $('select#item_bg_status').val();
      priority = $('select#item_priority').val();
      $.ajax({
        type: 'post',
        url: "#{items_ajax_create_path}",
        data: 'content=' + content + '&bg_status=' + bg_status + '&priority=' + priority, 
        success: function(data) {
          $('#list_area').html(data);
          //alert('wait');
        }
      });
      
      return false;
    });
  });    