%h3 ToDoList
- @users.each do |user|
  /%p User: #{link_to user.name, user}

= render 'items/form'

= render 'column'

= javascript_include_tag 'http://jqueryjs.googlecode.com/files/jquery-1.2.6.min.js'
= javascript_include_tag 'jquery-ui-personalized-1.6rc2.min.js'
= javascript_include_tag 'inettuts.js'        

